
<div class="well">
  Hello, <strong><%= @user.relationship %></strong>! Click a photo to see what everyone's saying.
  Love, Ava.
</div>

<% @photos.each_with_index do |photo, index| %>

  <% if index % 3 == 0 then %>
    <div class="row">
  <% end %>

  <div class="col-md-4"><a href="/photos/<%=photo.id%>" class="thumbnail"><img src="/img/<%= photo.id%>" class="img-responsive"/></a></div>

  <% if index % 3 == 2 or index == @photos.length - 1 then %>
    </div> <!-- row -->
  <% end %>

<% end %>

